@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body{
    background: linear-gradient(to top, #4F1F59, #B91C37, #1D0A37);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #5d7d07;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
    

}
.ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%; 
    box-shadow: 0 0 5px rgba(255,255,255,.5);
}
span{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: text 2s ease-in-out 2s;
}
@keyframes texr {
    0%{
        color: black;
    }
}

